<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }} {{end}}
  {{if hascode}} {{insert head_highlight.html }} {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="icon" href="/assets/favicon.png">
  {{isdef title}} <title> {{fill title}} - Huijzer.xyz </title> {{end}}
  {{isdef description}} <meta name="description" content="{{fill description}}" /> {{end}}

  {{isdef title}} <meta property="og:title" content="{{fill title}}" /> {{end}}
  {{isdef published}} <meta property="og:type" content="article" /> {{end}}
  {{isdef description}} <meta property="og:description" content="{{fill description}}" /> {{end}}
  {{isdef image}} <meta property="og:image" content="{{website_url}}{{fill image}}" /> {{end}}

  {{isdef title}} <meta name="twitter:title" content="{{fill title}}" /> {{end}}
  {{isdef description}} <meta name="twitter:card" content="summary" /> {{end}}
  {{isdef description}} <meta name="twitter:description" content="{{fill description}}" /> {{end}}
  {{isdef image}} <meta name="twitter:image" content="{{website_url}}{{fill image}}" /> {{end}}
</head>
<body>
  {{insert header.html}}

<div class="franklin-content">
  {{isdef published}} <h1 class="page-title"> {{fill title}} </h1> {{end}}
  {{isdef published}} <span class="page-date"> {{fill published}} </span> {{end}}
</div>
